#Data
data/*

#Build
build/*

#Scripts
scripts

#Bin
bin/*

#Out
out/*

#Vscode
.vscode/*

#CMake
CMakeFiles/*
CMakeCache.txt
Makefile
cmake_install.cmake
src/CMakeFiles/*
src.cmake_install.cmake
Makefile

#external
external/*

#tests
tests/*

*.o
